* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: rgb(241, 241, 241) !important;
}

.navbar {
    background-color: rgb(248, 114, 12) !important;
    height: 60px;
    width: 100%;
    display: flex;

}

.logo {
    font-size: 17px;

}

.logo a {
    display: flex;
    width: 150px;
    text-decoration: none;
    gap: 10px;
    align-items: center;
    color: white;
}

.navbar-toggler:focus {
    box-shadow: none !important;

}

.offcanvas-header .btn-close {
    font-size: 10px;
    border: 2px solid rgb(248, 114, 12);

}

/* BANNER IMAGE */

.banner {
    background-image: url(/IMAGES/header.png);
    width: 100%;
    height: 700px;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;

}



.banner .search-bar {

    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    height: 50px;
    background-color: white;
    z-index: 1;
}

.banner .search-bar {
    background: transparent;
}

.banner .search-bar .search-btn {
    height: 50px;
    width: 50px;
    font-size: 25px;
    background-color: rgb(248, 114, 12) !important;
    border: 1px solid white;
}

.banner .search-bar .search-btn:hover{
    background-color: white !important;
    color: rgb(248, 114, 12) !important;
}

.heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 400px;
    color: white;

}

.heading h4 {
    align-self: center;
}

/* CATEGORIES */

.categories {

    margin: 150px auto;
    height: auto;
    max-width: 95vw;
}

.cat-head {
    margin-left: 30px;
}

.cat-head::after {
    content: "";
    display: block;
    width: 90px;
    height: 4px;
    background: rgb(248, 114, 12);
    margin-top: 10px;
}

.cat-items {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    padding: 20px;
    grid-auto-rows: 200px;
    gap: 20px;
}


.column {
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    position: relative;
    transform: scale(1);
    transition: transform 0.4s ease;
}

.column:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(.9);
}

.badge {
    position: absolute;
    right: 5px;
    top: 5px;
    width: auto;
    background-color: rgb(248, 114, 12) !important;

}

/* VEGETARIAN PAGE */
.veg {
    border: 2px solid rgb(248, 114, 12);
    height: 230px;
    width: 95vw;
    margin-top: 100px;
    margin: 60px auto;

}

.veg-head {
    color: rgb(248, 114, 12);
    margin-left: 15px;
    margin-top: 15px;
}

.veg-description {
    padding: 15px;
    color: rgb(98, 97, 97);
}

.meal-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    margin: 60px 40px;

}

.meal-items .card {
    width: auto;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.card-title {
    text-align: center;
}

.meals .meal-items .card:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    transform: scale(1.1);
}

/* CABBAGE SOUP */

.menubar {

    background-color: rgb(248, 114, 12);
    height: 50px;
    width: 95vw;
    margin: 50px auto;
    padding-left: 20px;
    color: white;
    display: flex;
    align-items: center;
    gap: 12px;

}

.menubar i {
    font-size: 20px;


}

.menubar .bi {
    font-size: 15px;


}

/* MEAL DETAILS */
.meal-card {
    background-color: white;
    height: auto;
    width: 95%;
    margin: 50px auto;
    padding: 50px;
}

.meal-card .row {

    height: 80vh;
    width: 90vw;

}

.meal-card .col img {
    width: 100%;
    height: 70vh;
    margin-right: 750px;
}

.cabbage-body {

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    width: 36vw;


}

.cabbage-body .card-title {
    color: rgb(248, 114, 12);
}

.line {
    margin-top: 10px;
    width: 300px;
    border-top: 3px solid rgb(248, 114, 12);
}

.carditems {
    margin-left: 0px;
    margin-top: 20px;
}

.soup {
    border: 2px solid rgb(248, 114, 12);
    padding: 1px 10px;
    border-radius: 5px;
    color: rgb(248, 114, 12);
}

/* INGREDIENTS */
.ingredients {

    height: 300px;
    width: 500px;
    margin-top: 40px;
    background-color: rgb(248, 114, 12);
    color: white;
    padding: 20px;
}


.ingredients .ing-row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    gap: 10px;
    margin-left: 5px;
    align-items: center;
    text-align: left;
    margin-top: 20px;


}

.ingredients .ing-row .col .num {
    border: 1px solid;
    background-color: green;
    border-radius: 50%;
    display: inline-flex;
    height: 22px;
    width: 22px;
    justify-content: center;
    align-items: center;
}

.measure {

    width: 90vw;
    height: 30vh;
    padding-left: 0px;

}

.measure .measure-values {
    border: 1px solid rgb(219, 211, 211);
    background-color: rgb(236, 237, 237);
    width: 89vw;
    height: 20vh;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    gap: 500px;
    padding-top: 20px;

}

.measure .measure-values .measure-items {

    text-align: left;
    list-style: none;
}

.measure .measure-values .measure-items .fa-spoon {

    color: rgb(248, 114, 12);
    margin-right: 10px;

}

/* INSTRUCTIONS */

.instructions .instruction-content .instruction-list {
    list-style: none;
    height: 50vh;

    padding-left: 0px;
}

.instructions .instruction-content .instruction-list li {
    padding-top: 20px;
}

.instructions .instruction-content .instruction-list li i {
    color: rgb(248, 114, 12);
}

/* images */
.card-img-top {
  width: 100%;
  height: 180px;
  object-fit: cover;
}